h1{

	text-align: center;
	font-family: "Times New Roman";
	margin-bottom: 30px;
	color: #ff5d4d;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
}
body{
	background-color: #fff76c;
}

p{
	text-align: center;
	font-size: 30px;
	color: #d08cff;
}
#image{

	height: 250px;
	width: 250px;
}

div{
	margin-top: 30px;
	width: 360px;
	text-align: left;
}
